<div class="actions">
  <a
    class="btn-ver-ficha"
    [routerLink]="['/obra', obra().id]"
  >
    <span>Ver ficha completa</span>
    <app-icon name="arrow_forward" />
  </a>

  @if (obra().urlInfobras) {
    <a
      class="btn-ver-fuente"
      [href]="obra().urlInfobras!"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span>Ver en Infobras</span>
      <app-icon name="open_in_new" />
    </a>
  }

  <div class="fuente">
    <app-icon name="source" />
    <span>Fuente: <strong>{{ obra().fuente }}</strong></span>
  </div>
</div>
